@{
    ViewBag.Title = "About";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
    
</hgroup>

<article>
    <p>
        Use this site for your mobile orders.
    </p>

    <p>
        this page is the best page for mobile shoping.
    </p>

    <p>
        page created by soumik biswas.
    </p>
</article>

<aside>
    <h3>Page of Soumik Biswas</h3>
    <p>
        Email-biswassoumik90@gmail.com
    </p>
    <ul>
        <li>@Html.ActionLink("Home", "Index", "Home")</li>
        <li>@Html.ActionLink("About", "About", "Home")</li>
        <li>@Html.ActionLink("Contact", "Contact", "Home")</li>

    </ul>
</aside>