@{
    ViewBag.Title = "Contact";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>





    <h3>Page of Soumik Biswas</h3>
    <p>
        Email-biswassoumik90@gmail.com
        </p>
      <p>  Phone Number-9903326867</p>
    
    <ul>
        <li>@Html.ActionLink("Home", "Index", "Home")</li>
        <li>@Html.ActionLink("About", "About", "Home")</li>
        <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
    </ul>
